<div class="container">
  <h1 class="text-center text-white mb-4">The Cocktail Master</h1>
  <%#= form_tag(cocktails_path, method: :get) do %>
    <%#= text_field_tag :keyword %>
    <%#= submit_tag 'Search', id: "search"%>
  <%# end %>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-cocktail">

        <%= link_to cocktail_path(cocktail), class: "text-decoration-none text-white" do %>
          <% if cocktail.photo.url %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(cocktail.photo) %>)">
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <% end %>
              <h4><%= cocktail.name.capitalize %></h4>
            </div>
        <% end %>

        <% if cocktail.user.avatar.present? %>
          <%= link_to user_path(cocktail.user) do%>
            <%= cl_image_tag cocktail.user.avatar, class: "card-user" %>
          <% end %>
        <% else %>
          <%= link_to user_path(cocktail.user) do%>
            <%= cl_image_tag "https://i2.wp.com/smk.org.uk/wp-content/uploads/avatar.jpg?fit=300%2C300&ssl=1", class: "card-user" %>
          <% end %>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
