<div class="container">
  <h1 class="text-center text-white"><%= @user.username.capitalize %></h1>
  <div class="profile-info d-flex">
    <% if current_user.avatar.present? %>
      <%= cl_image_tag @user.avatar, alt: "user-avatar", class: "user-avatar" %>
    <% else %>
      <%= cl_image_tag "https://i2.wp.com/smk.org.uk/wp-content/uploads/avatar.jpg?fit=300%2C300&ssl=1", class: "user-avatar" %>
    <% end %>
    <div class="profile-description flex-grow">
      <p><%= @user.description %></p>
    </div>
  </div>
  <div class="profile-cocktails">
    <p>My Cocktails</p>
    <div class="cards">
      <% @user.cocktails.each do |cocktail| %>

        <% if cocktail.photo.url %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(cocktail.photo) %>)">
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <% end %>

            <div class="card-edit">
              <%= link_to edit_cocktail_path(cocktail) do%>
                <i class="far fa-edit"></i>
              <% end %>
              <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?"} do%>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>

            <%= link_to cocktail_path(cocktail), class: "text-decoration-none text-white" do %>
              <h4><%= cocktail.name.capitalize %></h4>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
